<!-- src/main/resources/templates/books.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Books</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!--Header replace-->
    <div th:replace="~{header :: header}"></div>
    <!--Header replace-->

	<!-- 
	<div th:replace="~{navbar :: navbar"></divth>
		-->
    <main>
        <h2>Book Listing</h2>
        <div id="book-list">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Author</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
					<tr th:each="book : ${books}" th:data-url="@{/book-details/{id}(id=${book.id})}">
                        <th scope="row" th:text="${book.id}"></th>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.name}"></td>
                        <td th:text="${book.description}"></td>
						<td>
							<form th:action="@{/addToCart}" method="post">
			                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			                    <input type="hidden" name="id" th:value="${book.id}"/>
			                    <button type="submit" class="btn btn-secondary m-1" id="add-to-cart">Add to Cart</button>
			                </form>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/assets/js/scripts.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll("tr[data-url]").forEach(function(row) {
                row.addEventListener("click", function() {
                    window.location.href = row.getAttribute("data-url");
                });
            });
        });
	</script>
</body>
</html>
