<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Books</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <div class="d-flex justify-content-between ">
                <a th:href="@{/books}" class="text-white text-decoration-none">
                    <h1 class="h3">Bookstore</h1>
                </a>
                <nav>
                    <a th:href="@{/books}" class="text-white mr-3">Books</a>
                    <a th:href="@{/cart}" sec:authorize="isAuthenticated()" class="text-white mr-3">Cart</a>
                    <a th:href="@{/order/history}" sec:authorize="isAuthenticated()" class="text-white mr-3">Order History</a>
                    <a th:href="@{/login}" sec:authorize="isAnonymous()" class="text-white">Login</a>
					<a th:href="@{/login?logout=true}" sec:authorize="isAuthenticated()" th:refresh="true" class="text-white">logout</a>
                </nav>
            </div>
        </div>
    </header>
    
</body>
</html>
