<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore - Order History</title>
    <link rel="stylesheet" href="	/assets/css/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<!--Header replace-->
		<div th:replace="~{header :: header}"></div>
	<!--Header replace-->
	
    <main>
        <h2>Order History</h2>
        <div id="order-history">
            <!-- Order history will be dynamically added here -->
        </div>
    </main>
    <script src="/assets/js/scripts.js"></script>
</body>
</html>
