label {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px; /* Add some spacing between labels */
}
h1 {
    font-size: 50px;
    text-align: center; /* Center align the h1 element */
    margin: 0; /* Remove default margin to avoid extra space */
}
button {
    width: 50%;
    margin: 10px auto; /* Center the button horizontally and add vertical margin */
    display: block; /* Make the button a block-level element */
 
}
.button{
    color: white;
    height: 30px;
    background-color: rgba(19, 18, 92, 0.849);
    border-width: 0.2px;
    border: none;    
    transition: box-shadow 5ms  ease; 
 
    
}
.button:hover{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.button:active{
    background-color: rgba(23, 21, 114, 0.986);;
}